.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    .ddj-flex(flex, row, space-between);
    .destination {
      width: 30%;
      margin-bottom: 30px;

      .btn {
        .sign-me-up(10px, @button-bg, @white, 1.6rem, bold, 200px, 13px, 13px, center, 100%)
      }
    }
  }

  .introduction {
    border-bottom: 2px dashed @navigation-border;

    h1 {
      .trbl-m(10px, 0, 10px, 0);
    }

    p {
      .trbl-m(0, 0, 10px, 0);
    }
  }
}// home