// Navigation Styles here


.heading-at-the-top {
    border-bottom: 2px dashed @navigation-border;
    padding: 25px 0px 25px 0px;
}

.container-of-the-heading {
    .container-of-flexes();
    .container();
}

.container-of-the-navigation {
    align-items: center;
    max-width: 800px;
    margin: 0px 40px 0px 0px;
    width: 40%;
    .container-of-flexes();
    a {
        color: @font-color;
        font-size: 1.5em;
        text-decoration: none;
    }
}